<nz-spin nzTip="Loading..." [nzSpinning]="'false'">
    <nz-layout class="layout">
        <nz-sider nzTheme="light" class="shadow">
            <div class="logo">
                <span *ngIf="isCollapsed" style="margin-left: 10px; font-size: larger">J M</span>
                <span *ngIf="!isCollapsed" style="margin-left: 20px; font-size: larger">JIRAMETRIX</span>
            </div>
            <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
                <li nz-menu-item nzSelected>
                    <i nz-icon nzType="dashboard"></i>
                    <span>General</span>
                </li>
                <li nz-submenu nzTitle="Sprints" nzIcon="build">
                    <ul>
                        <li nz-menu-item>Sprint 1</li>
                        <li nz-menu-item>Sprint 2</li>
                        <li nz-menu-item>Sprint 3</li>
                        <li nz-menu-item>Sprint 4</li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-layout class="right-layout">
            <nz-header>
                <div class="d-flex flex-row-reverse">
                    <div class="mr-3" style="color: #5b7ad8; font-size: 15px; cursor: pointer">
                        Siddhesh Thipse
                    </div>
                    <div class="mr-3">
                        <nz-divider nzType="vertical"></nz-divider>
                    </div>
                    <div class="mr-3">
                        <i nz-icon nzType="setting" nzTheme="outline" style="font-size: 18px; cursor: pointer"></i>
                    </div>
                    <div class="ml-3 mr-3">
                        <nz-divider nzType="vertical"></nz-divider>
                    </div>
                    <div>
                        <i nz-icon nzType="bell" nzTheme="outline" style="font-size: 18px; cursor: pointer"></i>
                    </div>
                </div>
            </nz-header>
            <nz-content>
                <nz-breadcrumb class="mb-2">
                    <nz-breadcrumb-item style="cursor: pointer">Home
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
                </nz-breadcrumb>
                <div class="inner-content" style="background-color: #f0f2f5">
                    
                </div>
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-spin>