<!-- BOOTSTRAP IMPORT -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
<!-- GOOGLE FONTS IMPORT -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet" />

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 logo"><span style="color: #5b7ad8">JIRAMETRIX</span></span>
</nav>
<div class="container-fluid mt-4">
    <button class="mb-3" nz-button nzType="primary"><i nz-icon nzType="double-left" nzTheme="outline" (click)="navigateToLogin()"></i></button>
    <div style="background-color: #f8f9fa;border:1px solid #5b7ad8; border-radius: 8px;" class="p-2">
        <h6 class="pt-4 pl-2 logo" style="color: black;">SELECT A PROJECT TO VIEW INSIGHTS</h6>
        <div class="row p-4">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4" *ngFor="let data of projectDetails">
                    <div class="card shadow" style="width: 25rem">
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{data.name}}</strong></h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{data.key}}</h6>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <nz-badge nzStatus="success" nzText="{{data.totalEpic}} Epic"></nz-badge>
                                        <br />
                                        <nz-badge nzStatus="default" nzText="{{data.totalStory}} User Stories"></nz-badge>
                                    </div>
                                    <div class="col-md-6">
                                        <nz-badge nzStatus="warning" nzText="{{data.totalSubtask}} Subtasks"></nz-badge>
                                        <br />
                                        <nz-badge nzStatus="error" nzText="{{data.totalBug}} Bugs"></nz-badge>
                                    </div>
                                </div>
                            </div>
                            <button class="mt-3" nz-button nzType="primary" (click)="navigateToDashboard(data.key)">View Project</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col mb-4">
                    <div class="card shadow" style="width: 25rem">
                        <div class="card-body">
                            <h5 class="card-title">Pacman Ventures</h5>
                            <h6 class="card-subtitle mb-2 text-muted">PAC</h6>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <nz-badge nzStatus="success" nzText="4 Epic"></nz-badge>
                                        <br />
                                        <nz-badge nzStatus="processing" nzText="4 Sprints"></nz-badge>
                                        <br />
                                        <nz-badge nzStatus="default" nzText="10 User Stories"></nz-badge>
                                    </div>
                                    <div class="col-md-6">
                                        <nz-badge nzStatus="warning" nzText="21 Subtasks"></nz-badge>
                                        <br />
                                        <nz-badge nzStatus="error" nzText="5 Bugs"></nz-badge>
                                    </div>
                                </div>
                            </div>
                            <button class="mt-3" nz-button nzType="primary">View Project</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>